<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <div class="btn-group pull-left col-sm-1 nav-buttons">
      <a href="/inbox/" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"/></a>
    </div>
    <h4 class="panel-title pull-left inbox-title">
      Compose new message
    </h4>
  </div>
  <div class="form-horizontal panel-body">
    <form name="compose" role="form" novalidate>
      <div class="control-group" ng-class="{'has-error': compose.recipient.$invalid && !compose.recipient.$pristine}">
        <label for="recipient" class="col-sm-1 control-label">To:</label>
        <div class="col-sm-11">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="email" class="form-control" name="recipient" ng-model="message.recipient"
                   typeahead="email as users[email] for email in emails | filter:$viewValue"
                   typeahead-editable="false"
                   placeholder="Recipient" required/>
          </div>
        </div>
      </div>
      <div class="control-group" ng-class="{'has-error': compose.title.$invalid && !compose.title.$pristine}">
        <label for="title" class="col-sm-1 control-label">Title:</label>
        <div class="col-sm-11">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
            <input type="text" class="form-control" name="title" ng-model="message.title" placeholder="Subject" required/>
          </div>
        </div>
      </div>
      <div class="control-group">
        <div class="col-sm-offset-1 col-sm-11">
          <textarea class="form-control" rows="10" ng-model="message.text" placeholder="Type your message here" ></textarea>
        </div>
      </div>
      <div class="control-group" >
        <div class="col-sm-offset-10 col-sm-2">
          <input class="form-control btn btn-primary" type="submit" value="Send" 
                 ng-disabled="compose.$invalid" ng-click="send()"/>
        </div>
      </div>
    </form>
  </div>
</div>
