<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Inbox
      <a href="#/compose" class="btn btn-default"><span class="glyphicon glyphicon-pencil">Compose</span></a>
    </h3> 
  </div>
  <table class="table" ng-if="messages">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Sent date</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="message in messages">
        <td class="text-center"><span class="glyphicon glyphicon-envelope {{ message.unread ? '' : 'invisible' }}"> </span></td>
        <td><a href="#/{{ message.id }}">{{ message.title }}</a></td>
        <td>{{ message.timestamp }}</td>
      </tr>
    </tbody>
  </table>
  <div class="panel-body" ng-if="!messages">
    <div class="text-muted">You have no messages</div>
  </div>
</div>
