{% set user = get_authenticated_user() %}
{% set unread = get_unread_count() %}
{% set navbar = [('index', 'Camelot')]
                +
                ([] if user 
                else
                [('sign_up', 'Sign up'),
                 ('login', 'Login')])
 -%}
{% set navbar_right = [('populate-users', 'Create some users')]
                      +
                      ([('inbox', 'Inbox'), 
                       ('logout', 'Log out')] 
                      if user else 
                      [])
 -%}
{% set active_page = active_page|default('index') -%}

<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('index') }}">For the Holy Grail!</a>
    <ul class="nav navbar-nav">
      {% for id, caption in navbar %}
      {% set active="class=active" if (id == active_page) %}
      <li {{active}}><a href="{{ url_for(id) }}">{{ caption }}</a></li>
      {% endfor %}
    </ul>
    {% if navbar_right %}
    <ul class="nav navbar-nav navbar-right">
      {% for id, caption in navbar_right %}
      {% set active="class=active" if (id == active_page) %}
      <li {{active}}>
        <a href="{{ url_for(id) }}" {% if id == 'populate-users' %}style="color: red !important;"{% endif %}>{{ caption }}
          {%- if (id == 'inbox') and unread %} <span class="badge">{{ unread }}</span>{% endif -%}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
