{% extends '_base.html' %}
{% set title = "Come into the Camelot" %}
{% set active_page = "login" %}
{% from '_formhelpers.html' import form_field %}
{% block body %}
<div>
  <div class="jumbotron">
    <h1>Stop! <br/><small>Who will cross the Bridge of Death must answer me these questions three.</small></h1>
  </div>
  <div class="container">
    <form action="{{ url_for('login', next=next_url) }}" method="POST">
      {{ form.hidden_tag() }}
      <p>
        {% call form_field(form.email, size=40) %}
        <em>What</em> is your email?
        {% endcall %}
      </p>
      <p>
        {% call form_field(form.password, size=40) %}
        <em>What</em> is your password?
        {% endcall %}
        {% call form_field(form.remember) %}
        Shall we remember you?
        {% endcall %}
      </p>
      <p><input type="submit" name="" class="btn btn-primary" value="Log in"/></p>
    </form>
  </div>
</div>
{% endblock %}
