{% extends '_base.html' %}
{% set title = message.title ~ " - Inbox" %}
{% set active_page = "inbox" %}

{% block body %}
<div>
  <div class="jumbotron container">
    <h1>Welcome, {{user.name}}!</h1>
  </div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a href="{{ url_for('inbox') }}" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></a> 
        {{ message.title }}
        <span class="text-muted">{{ message.timestamp }}</span></h3></div>
    <div class="panel-body">{{ message.text }}</div>
  </div>  
</div>
{% endblock %}
